/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    background-image: url('https://e1.pxfuel.com/desktop-wallpaper/522/847/desktop-wallpaper-retrowave-car-cars-3840x2160-for-your-mobile-tablet-car-vintage.jpg');
    background-size: cover;
    background-position: center;
    color: #fff; 
}

h1 {
    text-align: center;
    margin-top: 20px;
}

form {
    max-width: 400px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgb(255, 255, 255);
    color: #fff; 
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #fff; 
}

input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

.car-image {
    display: block;
    margin: 20px auto;
    max-width: 200px;
}

a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #fff; 
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
    color: #007bff;
}
