/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background: #f7f7f7;
  }
  
  /* ... tus otros estilos ... */
  
  /* Media queries para iPhone 12 */
  @media only screen and (min-device-width: 390px) and (max-device-height: 844px) and (-webkit-min-device-pixel-ratio: 3) {
    /* Estilos para iPhone 12 */
    .img {
      width: 50%; /* Ajusta el tamaño de la imagen para iPhone 12 */
    }
  
    /* ... más estilos responsivos para iPhone 12 ... */
  }
  
  /* Media queries para iPad Pro */
  @media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
    /* Estilos para iPad Pro */
    .container {
      width: 80%; /* Ajusta el ancho del contenedor para iPad Pro */
    }
  
    /* ... más estilos responsivos para iPad Pro ... */
  }
  
  /* ... tus otros estilos ... */
  