body {
  font-family: Arial, sans-serif;
  background: #f7f7f7;
}

#registrationForm {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background: url('images/logo.png') no-repeat center top; /* Ruta actualizada para la carpeta 'images' */
  background-size: contain; /* Para ajustar el tamaño de la imagen */
  border-radius: 8px;
  position: relative; /* Para posicionar el contenido del formulario encima de la imagen */
}

#registrationForm label {
  display: block;
  margin-top: 10px;
}

#registrationForm input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: block; /* Cambio para que los inputs vayan verticalmente */
}

#registrationForm button {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#registrationForm button:hover {
  background-color: #4cae4c;
}

.login-image {
  height: 80px; /* Ajuste de altura */
  margin-bottom: 20px;
  width: auto; /* Ancho automático para mantener la proporción */
}
